@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Sriracha&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

.alfa-font {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

.sriracha-font {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}

.winky-sans-font {
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


body {
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

button {
  min-width: 100px
}

.button_primary {
  background-color: rgb(255, 215, 0);
  color: rgb(98, 11, 180);
  font-weight: 700;
}

.button_primary:hover {
  background-color: #ffffff55;
  color: rgb(255, 215, 0);
}

.button_secondary {
  background-color: rgb(98, 11, 180);
  color: rgb(255, 215, 0);
  font-weight: 700;
}

.button_secondary:hover {
  background-color: #ffffffb8;
  color: rgb(98, 11, 180);
}

.bg_purple_background {
  background-color: rgb(98, 11, 180);
}

.text-color-gold {
  color: rgb(255, 215, 0);
}

.font-style-24 {
  font-size: 24px;
}

.can-click {
  cursor: pointer;
}

.mw-500px {
  max-width: 500px;
}

.min-vw-100px {
  min-width: 100px;
}
.loading-overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; 
}

.loading {
  color:rgb(255, 215, 0);
  width: 50px;
  height: 50px;
  font-size: 30px;
}